<div class="card mat-card">
  <div class="contenido" id="main-container">
    <div id="skills">
      <h4>Hard Skills & Soft Skills
        <button (click)="onOpenModal(null!,'add')" type="button" class="openButton">
          <i class="fa fa-plus"></i></button>
      </h4>
    </div>
    <div class="listaskills" *ngFor="let skill of skill" class="achivements">
      <p><span>{{skill.name}}</span></p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
          [style.width.%]="skill.progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div id="eliminar-editar-skills">
        <button (click)="onOpenModal(skill,'edit')" type="button" class="botones">
          <i class="fa fa-pencil"></i>
        </button>
        <button (click)="onOpenModal(skill,'delete')" type="button" class="botones">
          <i class="fa-solid fa-eraser"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Add  Modal -->
<div class="modal fade" id="addSkillModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="addSkillModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar Skill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm)">
          <label for="name">Skill</label><br>
          <input  type="text" ngModel name="name" class="form-control" id="name" placeholder="Skill" required>
          <label for="progress">Progreso</label><br>
          <input  type="text" ngModel name="progress" class="form-control" id="progress" placeholder="Progreso" required>

          <div class="modal-footer">
            <button type="button" id="add-skill-modal" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateSkillModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="updateSkillModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Skill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <label for="name">Skill</label><br>
          <input type="text" ngModel="{{editSkill?.name}}" name="name" class="form-control" id="name" placeholder="Nombre" required>
          <label for="progress">Progreso</label><br>
          <input  type="text" ngModel="{{editSkill?.progress}}"  name="progress" class="form-control" id="progress" placeholder="Progreso"required>
          <input type="hidden" ngModel="{{editSkill?.id}}" name="id"  class="form-control" id="id" placeholder="">
          <input type="hidden" ngModel="{{editSkill?.skillsCode}}" name="skillsCode" 
            id="skillsCode" placeholder="">
          <div class="modal-footer">
            <button id="update-skill-modal" type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
            <button (click)="onUpdateSkill(editForm.value)" data-dismiss="modal" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteSkillModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="deleteSkillModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Borrar Skill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro que deseas borrar?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteSkill(deleteSkill.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>
